* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: large;
}
.main-container {
  border-style: solid;
  border-radius: 25px;
  padding: 20px;
}

.catImage {
  /* width: 100vw; */
  max-width: 80vw;
}

.title {
  font-size: x-large;
  font-weight: 800;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cat-button {
  background-color: rgb(138, 159, 157);
  border-style: solid;
}
